<!DOCTYPE html>
<html>
  <head>
    <title>Add vehicle history</title>
  </head>
  <body>
    <h1>Add vehicle history</h1>
    <form method="post">
      <label for="history_type">History Type:</label>
      <input type="text" id="history_type" name="history_type"><br>

      <label for="history_date">History Date:</label>
      <input type="text" id="history_date" name="history_date"><br>

      <label for="history_description">History Description:</label>
      <input type="text" id="history_description" name="history_description"><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
