{% if customer %}
    <h1>Customer ID: {{ customer.0 }}</h1>
    <h3>Name: {{ customer.1 }}</h3>
    <h3>License Number: {{ customer.2 }}</h3>
    <h3>License State: {{ customer.3 }}</h3>
    <h3>Insurance Provider: {{ customer.4 }}</h3>
    <h3>Policy Number: {{ customer.5 }}</h3>
    <a href="{% url 'update_customer' id=customer.0 %}">Edit</a>

    <a href="{% url 'add_transaction' id=customer.0 %}">Add Transaction</a>


    <h1>Transactions</h1>
    {% if transactions %}
        {% for transaction in transactions %}
            <h3>Transaction ID: {{ transaction.0 }}</h3>
            <h3>Employee Name: {{ transaction.17 }}</h3>
            <h3>Vehicle: {{ transaction.8 }} {{ transaction.9 }}</h3>
            <h3>Transaction Type: {{ transaction.1 }}</h3>
            <h3>Sale Price: {{ transaction.2 }}</h3>
            <hr>
        {% endfor %}
    {% else %}
        <h3>No Transactions</h3>
    {% endif %}

{% else %}
    <p>No customer available.</p>
{% endif %}