<!DOCTYPE html>
<html>
  <head>
    <title>Update Customer Information</title>
  </head>
  <body>
    <h1>Update Customer Information</h1>
    <form method="post">
      {% csrf_token %}
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{ customer.name }}"><br>

      <label for="license-number">License Number:</label>
      <input type="text" id="license_number" name="license_number" value="{{ customer.license_number }}"><br>

      <label for="license-state">License State:</label>
      <input type="text" id="license_state" name="license_state" value="{{ customer.license_state }}"><br>

      <label for="insurance-provider">Insurance Provider:</label>
      <input type="text" id="insurance_provider" name="insurance_provider" value="{{ customer.insurance_provider }}"><br>

      <label for="policy-number">Policy Number:</label>
      <input type="text" id="policy_number" name="policy_number" value="{{ customer.policy_number }}"><br>

      <input type="submit" value="Update">
    </form>
  </body>
</html>

