<!DOCTYPE html>
<html>
  <head>
    <title>Vehicle Form</title>
  </head>
  <body>
    <h1>Vehicle Form</h1>
    <form method="post">
      <label for="vin">VIN:</label>
      <input type="text" id="vin" name="vin"><br>

      <label for="make">Make:</label>
      <input type="text" id="make" name="make"><br>

      <label for="model">Model:</label>
      <input type="text" id="model" name="model"><br>

      <label for="year">Year:</label>
      <input type="text" id="year" name="year"><br>

      <label for="trim">Trim:</label>
      <input type="text" id="trim" name="trim"><br>

      <label for="color">Color:</label>
      <input type="text" id="color" name="color"><br>

      <label for="mpg">MPG:</label>
      <input type="text" id="mpg" name="mpg"><br>

      <label for="mileage">Mileage:</label>
      <input type="text" id="mileage" name="mileage"><br>

      <label for="country_of_assembly">Country Of Assembly:</label>
      <input type="text" id="country_of_assembly" name="country_of_assembly"><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
